* {
  /*border: 1px solid black;*/
  box-sizing: border-box;
  margin: 0;
}

/*#2089ef - blue */
/*#d9f18a - yellow*/
/*#ffa2e8 - pink*/

#page-wrapper {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  min-height: 75px;
  width: 100%;
  padding: 0 20px;
  display :flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2089ef;
}

.logo {
  width: 60vw;
}

.logo > img {
  /*width: auto;*/
  height: 100%;
  max-width: 150px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

nav {
  display: block;
}

.nav-links {
  width: 35vw;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: #FFA2E8;
  font-family: "Ancizar Sans", sans-serif;
}

.nav-links > li {
  list-style: none;
}
