* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Ancizar-Sans';
  src: url('../../fonts/Ancizar-Sans/AncizarSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/poppins.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Chewy';
  src: url('../../fonts/Chewy/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
  background-color: #fffaef;
}

#page-wrapper {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  min-height: 63px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2089ef;
  z-index: 1000;
}

.logo {
  width: 60vw;
  display: flex;
}

.logo > img {
  height: 100%;
  max-width: 150px;
  margin-left: 20px;
  /*padding-bottom: 10px;*/
  justify-content: center;
  box-sizing: border-box;
}

nav {
  display: block;
}

.nav-links {
  width: 35vw;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: #d9f18a;
  font-family: "Ancizar-Sans", sans-serif;
  font-size: 1.5em;
}

.nav-links > li {
  list-style: none;
}

/*page*/

.page-name {
  width: 100vw;
  height: 20vh;
  margin: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.5rem;
  font-family: 'Poppins', sans-serif;
}

.main-heading {
  font-size: 2.5rem;
  font-family: 'Chewy', sans-serif;
  color: #D3A67C;
}

.contact-page-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section-wrapper {
  max-width: 800px;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #2089ef;
  margin-top: 24px;
  margin-bottom: 16px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 12px;
}

.contact-message > p {
  color: #212529;
  font-family: 'Americane', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.contact-detail {
  margin-top: 16px;
  margin-bottom: 8px;
}

.contact-details > p > strong{
  font-size: 1.2rem;
}

.contact-details > p > a {
  text-decoration: none;
  color: #2089ef;
}

p > a:hover {
  text-decoration: underline;
}

.contact-form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 5px;
}

.form-input {
  width: 100%;
  height: 40px;
  background-color: #8CC4F7;
  opacity: 0.5;
  border-radius: 100px;
  border: 1px solid #2089ef;
  font-family: 'Ancizar-Sans', sans-serif;
  line-height: 1.5;
  padding: 15px;
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background-color: #8CC4F7;
  opacity: 0.5;
  border: 1px solid #2089ef;
  font-family: 'Ancizar-Sans', sans-serif;
  line-height: 1.5;
  padding-left: 15px;
  padding-top: 7px;
}

.form-textarea::placeholder {
  color: #2089ef;
  font-size: 16px;
  font-family: 'Ancizar-Sans', sans-serif;
}

.form-input::placeholder {
  color: #2089ef;
  font-size: 16px;
  font-family: 'Ancizar-Sans', sans-serif;
}

.form-input:focus {
  box-shadow: 0 0 10px #2089ff;
  outline: none;
}

.form-textarea:focus {
  box-shadow: 0 0 10px #2089ff;
  outline: none;
}

.required {
  color: #ff474c;
}


.form-action {
  max-width: 300px;
  width: 100%;
  margin-top: 20px;
}

.form-submit {
  background-color: #2089ef;
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: 'Ancizar-Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fffaef;
  border-radius: 999px;
  border: none;
  box-shadow: 2px 5px 0 0 #D3A67C;
  transition: transform 0.1s, box-shadow 0.1s;
}

.form-submit:hover {
  background-color: #4DA1F2;
}

.form-submit:active {
  transform: translate(2px, 5px);
  box-shadow: 0 0 0 transparent;
}


/*footer*/

footer {
  background-color: #2089ef;
  width: 100%;
  padding: 2rem 0;
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.logo-tagline {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.line {
  display: flex;
  flex-grow: 1;
  align-items: center;

}

.line > hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #98c2ed;
  margin: 0;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 0 20px;
}

.footer-logo h4 {
  color: #8CC4F7;
  font-family: 'Poppins', sans-serif;
}

.footer-logo h5 {
  color: #8CC4F7;
  font-family: 'Chewy', sans-serif;
  font-size: 0.8rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.group-name h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 6px 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: #fffaef !important;
  text-decoration: none;
  font-family: 'Americane', sans-serif;
  font-size: 0.85rem;
  padding: 2px 0;
}

.footer-link:hover {
  opacity: 0.7;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.social-links-title {
  margin: 1rem 0;
}

.social-links-title h4 {
  font-size: 1.5rem;
  color: #fffaef;
  font-family: 'Poppins', sans-serif
}

.social-logos-links {
  margin: 10px 0;
}

.social-logos-links img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 10px;
}

.social-logos-links img:hover {
  opacity: 0.7;
}

.copyright {
  text-align: center;
}

.copyright p {
  color: #fffaef;
}

.copyright a {
  text-decoration: none;
  color: #fffaef;
}

.copyright a:hover {
  text-decoration: underline;
}
