* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Ancizar-Sans';
  src: url('../../fonts/Ancizar-Sans/AncizarSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/poppins.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Chewy';
  src: url('../../fonts/Chewy/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
}

#page-wrapper {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  min-height: 63px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  /*padding-bottom: 12px;*/
  display :flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2089ef;
}

.logo {
  width: 60vw;
  display: flex;
}

.logo > img {
  height: 100%;
  max-width: 150px;
  margin-left: 20px;
  /*padding-bottom: 10px;*/
  justify-content: center;
  box-sizing: border-box;
}

nav {
  display: block;
}

.nav-links {
  width: 35vw;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: #d9f18a;
  font-family: "Ancizar-Sans", sans-serif;
  font-size: 1.5em;
}

.nav-links > li {
  list-style: none;
}

.page-name {
  width: 100vw;
  height: 20vh;
  margin: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.5rem;
  font-family: 'Poppins', sans-serif;
}

.main-heading {
  font-size: 2.5rem;
  font-family: 'Chewy', sans-serif;
}

.contact-page-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section-wrapper {
  max-width: 800px;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #2089ef;
  padding: 5px 0;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 3px;
}

.contact-message > p {
  color: #212529;
  font-family: 'Americane', sans-serif;
  font-size: 1rem;
}

.contact-details > p > strong{
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #2089ef;
}

a:hover {
  text-decoration: underline;
}

.contact-form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 5px;
}

.form-input {
  width: 100%;
  background-color: #8CC4F7;
  opacity: 0.5;
  border-radius: 100px;
}

.required {
  color: #ff474c;
}

.form-action {
  max-width: 100px;
  width: 100%;
  margin-top: 10px;
}

.form-submit {
  background-color: #2089ef;
  border-radius: 999px;
}
