* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Ancizar-Sans';
  src: url('../../fonts/Ancizar-Sans/AncizarSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/poppins.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Chewy';
  src: url('../../fonts/Chewy/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
  background-color: #fffaef;

}

#page-wrapper {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  min-height: 75px;
  width: 100%;
  padding: 0 20px;
  display :flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2089ef;
  z-index: 1000;
}

.logo {
  width: 60vw;
}

.logo > img {
  height: 100%;
  max-width: 150px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

nav {
  display: block;
}

.nav-links {
  width: 35vw;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: #FFA2E8;
  font-family: "Ancizar-Sans", sans-serif;
  font-size: 1.5em;
}

.nav-links > li {
  list-style: none;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
}

/*title section*/

.page-title {
  margin: 76px 0;
  width: 100%;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrapper h1 {
  font-size: 4.5rem;
  font-family: 'Poppins', sans-serif;
}

.title-wrapper p {
  font-size: 2.5rem;
  font-family: 'Chewy', sans-serif;
  color: #D3A67C;
}

/*Filter*/

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.filter-message-wrapper {
  margin-bottom: 5px;
  margin-top: 50px;
}

.filter-message-wrapper label{
  font-family: 'Americane', sans-serif;
  font-size: 1.25rem;
  color: #2089ef;
  font-weight: bold;
}

.filter-dropdown-wrapper {
  margin: 10px 0;
}

.filter-dropdown-wrapper select {
  width: 135px;
  height: 50px;
  border-radius: 999px;
  background-color: #fffaef;
  border: 1px solid #2089ef;
  padding-left: 20px;
  color: #2089ef;
  font-size: 14px;
  font-weight: bold;
}

.filter-dropdown-wrapper select:hover {
  cursor: pointer;
}

.filter-dropdown-wrapper select:focus {
  border: 1px solid #2089ef;
  box-shadow: 0 0 10px #8CC4F7;
  outline: none;
}

#filter-categories option {
  color: #8CC4F7;
  font-weight: bold;
  font-family: 'Americane', sans-serif;
}

.disabled {
  display: none;
}
/*blog posts*/

.blog-section {
  display: grid;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.blogs-wrapper {
  border: 1px solid #98c2ed;
  border-radius: 10px;
  background-color: white;
}

.img-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}

.blog-content {
  display: flex;
  flex-direction: column;
}

.blog-body {
  padding: 1rem;
}

.blog-header h2 {
  font-size: 1.5rem;
  font-family: 'Americane', sans-serif;
  color: #2089ef;
}

.blog-header h2:hover {
  opacity: 0.6;
  cursor: pointer;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.blog-meta > * {
  font-family: 'Americane', sans-serif;
  color: #D3A67C;
  font-size: 0.85rem;
}

.blog-preview {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.blog-preview p {
  font-family: 'Americane', sans-serif;
  color: #212529;
}

.read-more button {
  background-color: #2089ef;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  font-family: 'Americane', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fffaef;
  border-radius: 999px;
  border: none;
  box-shadow: 2px 5px 0 0 #D3A67C;
  transition: transform 0.1s, box-shadow 0.1s;
}

.read-more button:hover {
  background-color: #4DA1F2;
  cursor: pointer;
}

.read-more button:active {
  transform: translate(2px, 5px);
  box-shadow: 0 0 0 transparent;
}

/*footer*/

footer {
  background-color: #2089ef;
  width: 100%;
  padding: 2rem 0;
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.logo-tagline {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.line {
  display: flex;
  flex-grow: 1;
  align-items: center;

}

.line > hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #98c2ed;
  margin: 0;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 0 20px;
}

.footer-logo h4 {
  color: #8CC4F7;
  font-family: 'Poppins', sans-serif;
}

.footer-logo h5 {
  color: #8CC4F7;
  font-family: 'Chewy', sans-serif;
  font-size: 0.8rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.group-name h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 6px 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: #fffaef !important;
  text-decoration: none;
  font-family: 'Americane', sans-serif;
  font-size: 0.85rem;
  padding: 2px 0;
}

.footer-link:hover {
  opacity: 0.7;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.social-links-title {
  margin: 1rem 0;
}

.social-links-title h4 {
  font-size: 1.5rem;
  color: #fffaef;
  font-family: 'Poppins', sans-serif
}

.social-logos-links {
  margin: 10px 0;
}

.social-logos-links img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 10px;
}

.social-logos-links img:hover {
  opacity: 0.7;
}

.copyright {
  text-align: center;
}

.copyright p {
  color: #fffaef;
}

.copyright a {
  text-decoration: none;
  color: #fffaef;
}

.copyright a:hover {
  text-decoration: underline;
}
